

## ��������Լ��ĵ��Խ����޸� ##
# �߳���  Number of threads to use in search
numSearchThreads = 16


## ��������Լ��ĵ��Խ����޸� ##
# hash�������С
# ÿ1G�ڴ��Լ��1M��������Ҳ���Ƕ�1M��1M=1000k=1000000�����������»��𵽺ϲ�ͬ�ε����á�����ܼ�����������200k���󲿷��˵ĵ��������1M�ڵ��hash�����㹻�ˣ����Ҫ�һ�������Ĵ�
# ���ִ���2�ĵĶ��ٴη�������20��Ӧ2��20�η���������Ҳ����Լ1M
# 19 �ڴ�500M ������500k
# 20 �ڴ�1G ������1M
# 21 �ڴ�2G ������2M
# 22 �ڴ�4G ������4M
# 23 �ڴ�8G ������8M
# 24 �ڴ�16G ������16M
# 25 �ڴ�32G ������32M
# ���ٵ�ʱ��Ӧ�ð���һ����Ϊ0��Ȼ����ƽ�������в��ԡ���Ϊ�����ʹ���ٶ�����Ҳ��ȶ���
nnCacheSizePowerOfTwo = 20



## ����ʱ��ʤ�� ##
# 0�����������50%ʤ�ʣ�1�����������ʤ��-1�����������ʤ��
# �����Ҳ��������Ѱ�ұ�ʤ�֣�ֻ�ǲ²⣬���Ǻ�ȷ���������磬Ѱ�Һڱ�ʤ��ʱ����Ե���0.5~1��Ѱ�Ұױ�ʤ��ʱ����Ե���-0.5~-1��ƽʱ����Ϊ0������֮������˸Ļ�ȥ��
# ֻ���ڲ�����ʱʹ�á���ʾ��ʱ����廹��50%
noResultUtilityForWhite =0.0




## ���²������޸� ##
#-------------------------------------------------------


## VCF���� ##
#��ʱ��û�ã���Ϊ��ûд��
useVCF=false #�����trueҲ�������vcf����Ϊ�ҳ����ڲ��ص��ˣ��Ա��������
 
## �������� ##
cpuctExploration = -0.6 #puct������0��ԭ��puct��ʽ��С��0��ħ�İ档�����ʮ�̣�ħ�İ����ǿһ��
cpuctExplorationLog = 0.3
cpuctExplorationBase=10

nnPolicyTemperature=1.2 #��΢����һ��
subtreeValueBiasFactor=0.0 #�����ԣ�ûɶ�ã����Թ��ˡ�Ĭ����0.35

## ��仯ͼ���� ##
#���øģ���Ϊlizzie����Ҳ�ܸ�
analysisPVLen=100

## �������߰����Ĭ������ ##
logDir = gtp_logs    # Each run of KataGo will log to a separate file in this dir

logAllGTPCommunication = true
logSearchInfo = true
logToStderr = false




koRule = SIMPLE  # options: SIMPLE, POSITIONAL, SITUATIONAL

scoringRule = AREA  # options: AREA, TERRITORY

taxRule = NONE  # options: NONE, SEKI, ALL

multiStoneSuicideLegal = false

hasButton = false

whiteHandicapBonus = N  # options: 0, N, N-1

allowResignation = false
resignThreshold = -0.90
resignConsecTurns = 3

#dynamicPlayoutDoublingAdvantageCapPerOppLead = 0

playoutDoublingAdvantage = 0.0 #��ν��PDA����ʱ����������
playoutDoublingAdvantagePla = WHITE

# Number of seconds to buffer for lag for GTP time controls - will move a bit faster assuming there is this much lag per move.
lagBuffer = 1.0

ponderingEnabled = true
maxTimePondering = 120

# Play a little faster if the opponent is passing, for friendliness
searchFactorAfterOnePass = 0.50
searchFactorAfterTwoPass = 0.25
# Play a little faster if super-winning, for friendliness
searchFactorWhenWinning = 0.40
searchFactorWhenWinningThreshold = 0.95

# nnMaxBatchSize = <integer> #Ĭ��


# Size of mutex pool for nnCache is (2 ** this).
nnMutexPoolSizePowerOfTwo = 16



# mutexPoolSize = 16384

#numNNServerThreadsPerModel = 1
#gpuToUseThread0 = 0
